%create-summary-btn {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

// 总结列表页
.summaries-index-page {

  .summary-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    .summary-item {
      flex: 1;

      &:nth-child(2) {
        flex: 8;
      }

      .summary-title {
        font-weight: bold;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .summary-box {
      padding: 15px;

      &:hover {
        background-color: #f5f8fa;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .summary-box {
      display: flex;
      flex-direction: row;
      align-items: center;

      .summary-item {
        &:last-child {
          display: none;
        }
      }
    }
  }

  .create-summary-btn {
    @extend %create-summary-btn
  }
}

// 总结详情页
.summaries-show-page {
  .section-box {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .latest-summary {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .create-summary-btn {
    @extend %create-summary-btn
  }
}