

// 用户列表
.users-index-page {

  @media screen and (min-width: 768px){
    .user-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 15px;

      &:hover {
        background-color: #f5f8fa;
      }

      .attr-item {
        flex: 1;
      }

      .user-name-email {
        flex: 3;
      }

      .user-dpl {
        flex: 3;
      }

      .user-report {
        flex: 2;
      }
    }

    .user-pages {
      padding-left: 15px;
    }
  }

  @media screen and (max-width: 768px){
    .user-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 15px 0;

      &:hover {
        background-color: transparent;
      }

      .attr-item {
        flex: 1;
      }

      .user-name-email {
        flex: 5;
      }

      .user-dpl {
        display: none;
        flex: 3;
        text-align: center;
      }

      .user-report {
        display: none;
        flex: 2;
      }

      .user-actions {
        display: none;
      }
    }

    .user-pages {
      padding-left: 0;

      .pagination {
        margin-bottom: 0;
      }
    }
  }

}
